<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="icon"><img src="./images/beericon.svg" alt="Beer Glass"> </span>  Welcome, Let's Discuss Beer</h1>
             <p>View some of the best beers from all over the world</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/beers/new">Post New Beer</a>
             </p>
              <p>
              <form action="/beers" method="GET" class="form-inline" id="beer-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Beer search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="beer-grid">
        <% beers.forEach(function(beer){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= beer.image %>">
                   <div class="caption">
                       <h4><%= beer.brewery %></h4>
                       <h4><%= beer.name %></h4>
                   </div>
                   <p>
                       <a href="/beers/<%= beer._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>